<li class="nav-item">
    <a href="{{ path('paypal.crud.index') }}" class="nav-link {{ is_subpath('paypal.crud.index') ? 'active' }}">
        <i class="nav-icon fab fa-paypal"></i>
        <p>
            Paiement PayPal
        </p>
    </a>
</li>